{% extends "base.html" %}

{% block h1_header %}
    <h2>Búsqueda completa de pacientes </h2>
    <form method="GET">
        {{ form.as_p }}
        <input type="submit" value="Buscar">
    </form>
    
    {% if resultados %}
        <ul>
            {% for resultado in resultados %}
                <li>{{ resultado.nombre }} - {{ resultado.edad }}</li>
            
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron resultados.</p>
    {% endif %}
{% endblock %}