{% extends "base.html" %}

{% block h1_header %}

 <h3>░░░¡Hola! Mi nombre es Miguel Garrido, soy músico, técnico en Electrónica y también en Telecomunicaciones.
    Hace 12 años trabajo en el rubro de la televisión y hoy en día me encuentro buscando nuevos 
    desafíos para ampliar los conocimientos.░░░░░░░░░░░░░░░░░░░░░░
    Esta web está siendo desarollada para poder crear un registro de pacientes,
    y que los mismos puedan corroborar sus datos, citas, tratamientos y contar con más opciones a futuro.░░░░░░░░░░░░░░░</h3>



{% endblock %}